.vscode
.module-cache
*.log*
build
dist
.DS_Store
node_modules
jspm_packages/
.idea
*.swp
tags
*.log
*.jsx
.cache-loader
atlassian-ide-plugin.xml
npm-debug.log
*.sock
.eslintcache
.env
.version
package-lock.json
client/config/dev-hosts.json
/webpack/vendors-manifest.json
